{% extends "core/base.html" %}

{% block title %}Rooms{% endblock title %}

{% block content %}

{% for r in rooms %}
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex {% cycle 'ms-auto' 'me-auto' %} rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">{{r.lema}}</span>
                        <span class="section-heading-lower">{{r.nombre}}</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{{r.imagen.url}}" alt="..." />
            <div class="product-item-description d-flex {% cycle 'me-auto' 'ms-auto' %}">
                <div class="bg-faded p-5 rounded"><p class="mb-0">{{r.descripcion}}</p></div>
            </div>
        </div>
    </div>
</section>
{% endfor %}

{% endblock content %}
